body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .hero {
    background-color: #f4f4f4;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  
  blockquote {
    font-size: 1.25rem;
    color: #555;
  }
  
  blockquote p {
    margin: 0;
    padding: 0;
  }
  
  blockquote cite {
    display: block;
    margin-top: 10px;
    font-size: 1rem;
    font-style: italic;
    color: #888;
  }
  /* Additional styles for mobile responsiveness */
@media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
  
    blockquote {
      font-size: 1rem;
    }
  }

  
  /* ... styles for the second section ... */
  
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .feature-box {
    flex-basis: calc(33.33% - 40px);
    margin: 20px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .feature-link {
    display: block;
    text-decoration: none;
    color: #333;
  }
  
  .feature-link:hover {
    transform: translateY(-5px);
  }
  
  .feature-icon {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .feature-text h3 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .feature-text p {
    font-size: 0.9rem;
    color: #777;
  }
  
  /* ... Previous styles ... */

.box-about-me {
    background-color: #FAD02E;
  }
  
  .box-faq {
    background-color: #d5a4eb;
  }
  
  .box-my-resume {
    background-color: #3498DB;
  }
  
  .box-github {
    background-color: #E74C3C;
  }
  
  .box-aspirations {
    background-color: #82E0AA;
  }
  
  .box-favourites {
    background-color: #E67E22;
  }
  @media (max-width: 768px) {
    .feature-box {
      flex-basis: calc(100% - 350px);
    }
  }
      
    /* ... Previous styles ... */

.journey {
    margin-top: 50px;
    padding: 100px;
  }
  
  .journey-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .circle-mark {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #FF6B6B; /* Choose a color */
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .circle-mark i {
    color: white;
  }
  
  .journey-item p {
    font-size: 1rem;
  }
  @media (max-width: 768px) {
    .journey-item {
        display: flex;
      flex-direction: row;
      align-items: center;
      justify-items: space-between;
    }
  
    .journey {
       padding: 30px;
    }

    .circle-mark {
        width: 25px;
        height: 25px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  
    .circle-icon {
      font-size: 0.5rem;
    }

    .journey-item p {
        align-items: flex-start;
      }

  }

  /* ... Previous styles ... */

  .live-text-links {
    margin-top: 50px;
    width: 80%; /* Set width to 80% */
    margin: 0 auto; /* Center the section */
  }
  
  .live-text-links h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  .text-links {
    display: flex;
    flex-direction: column;
  }
  
  .text-link {
    font-size: 1rem;
    color: #333;
    text-decoration: none;
    margin-bottom: 50px;
    transition: color 0.3s ease-in-out;
  }
  
  .text-link:hover {
    color: #FF6B6B; /* Change link color on hover */
  }
  
  /* ... Remaining styles ... */
  

/* ... Previous styles ... */

.about-me {
  margin-top: 50px;
  padding: 50px;
}

.about-me h2 {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.about-content {
  display: flex;
  align-items: flex-start;
}

.about-image {
  width: 250px;
  height: 250px;
  border-radius: 10%;
  overflow: hidden;
  margin-right: 20px;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-info {
  flex: 1;
}

.about-info h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 30px;
}

.about-info p {
  font-size: 1.2rem;
  color: #777;
  margin: 10px 0;
  max-width: 900px;
}

/* Adjust styles for mobile screens */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column; /* Stack content on mobile */
  }

  .about-me {
    margin-bottom: 30px;
  }

  .about-image {
    margin-bottom: 50px; /* Remove margin for image on mobile */
    width: 350px;
    height: 300px;
  }
}

/* ... Remaining styles ... */




  /* ... Remaining styles ... */
  
  /* ... Previous styles ... */

.live-projects {
    margin-top: 50px;
    padding: 50px;
  }
  
  .live-projects h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project-box {
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .project-link {
    display: block;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease-in-out;
  }
  
  .project-link:hover {
    transform: translateY(-5px);
  }
  
  .project-image {
    height: 200px;
    overflow: hidden;
  }
  
  .project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .project-info {
    padding: 10px 20px;
  }
  
  .project-info h3 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .project-info p {
    font-size: 0.9rem;
    color: #777;
  }
  @media (max-width: 768px) {
    .projects-container {
        width: auto;
        overflow: hidden;
      flex-direction: column;
    }
  
    .project-box {
        align-items: center;
      width: 700px;
      margin-right: 0;
      margin-left: 0;
    }
  
    .project-box:nth-child(odd),
    .project-box:nth-child(even) {
      margin-right: 0;
      margin-left: 10px;
    }
  }
  
  /* Form styles */
.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 10px;
}



.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Include padding and border in element's total width */
}
.contact-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding-right: 20px;
}

.contact-form textarea {
  height: 120px;
}

.contact-heading-container{
  margin-left: 20px;
}

.contact-form button[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.contact-form button[type="submit"]:hover{
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .container {
    height: auto;
  }
}
  
  
  
  /* ... Remaining styles ... */




  /* ... Previous styles ... */
  /* ... Previous styles ... */

.connect {
  margin-top: 50px;
  padding: 50px;
}

.connect h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.connect-links {
  margin-top: 20px;
}

.connect-links a {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.connect-links a:hover {
  color: #FF6B6B;
}

.back-button {
  font-size: 1rem;
  color: #777;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}

.back-button:hover {
  color: #FF6B6B;
}

/* Adjust styles for mobile screens */
@media (max-width: 768px) {
  .connect-links a {
    font-size: 0.9rem;
    margin-bottom: 8px;
  }

  .back-button {
    margin-bottom: 10px;
  }
}



















.how-i-work {
  margin-top: 50px;
  padding: 50px;
}

.how-i-work h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.work-point {
  margin-bottom: 40px;
}

.work-point h3 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 10px;
}

.work-point p {
  font-size: 1rem;
  color: #333;
  margin: 0;
  margin-bottom: 20px;
}

.work-point img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* ... Previous styles ... */

.back-button {
  font-size: 1rem;
  color: #777;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}

.back-button:hover {
  color: #FF6B6B;
}

/* Adjust styles for mobile screens */
@media (max-width: 768px) {
  .work-point {
    margin-bottom: 20px; /* Reduce margin for mobile */
  }

  .back-button {
    margin-bottom: 10px; /* Reduce margin for mobile */
  }

  .how-i-work h2 {
    font-size: 1.2rem; /* Adjust font size for mobile */
  }

  .work-point h3 {
    font-size: 1rem; /* Adjust font size for mobile */
  }

  .work-point p {
    font-size: 0.9rem; /* Adjust font size for mobile */
    margin-bottom: 10px; /* Reduce margin for mobile */
  }
}
/* ... Remaining styles ... */

/* ... Previous styles ... */

.faq {
  margin-top: 50px;
  padding:50px;
}

.faq h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 40px;
  padding: 50px;
}

.faq-item h3 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 10px;
}

.faq-item p {
  font-size: 1rem;
  color: #333;
  margin: 0;
  margin-bottom: 20px;
}

.back-button {
  font-size: 1rem;
  color: #777;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}

.back-button:hover {
  color: #FF6B6B;
}

/* Adjust styles for mobile screens */
@media (max-width: 768px) {
  .faq-item {
    margin-bottom: 20px;
  }

  .back-button {
    margin-bottom: 10px;
  }

  .faq h2 {
    font-size: 1.2rem;
  }

  .faq-item h3 {
    font-size: 1rem;
  }

  .faq-item p {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
}


/* ... Previous styles ... */

.aspirations {
  margin-top: 50px;
  padding: 50px;
}

.aspirations h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.aspirations-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-header,
.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.year,
.goal {
  flex: 1;
  padding: 10px;
}

.back-button {
  font-size: 1rem;
  color: #777;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}

.back-button:hover {
  color: #FF6B6B;
}

/* Adjust styles for mobile screens */
@media (max-width: 768px) {
  .year,
  .goal {
    padding: 5px;
  }

  .aspirations-table {
    margin-top: 10px;
  }
}


/* ... Previous styles ... */

.favorites {
  margin-top: 50px;
  padding: 50px;
}

.favorites h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.favorite-item {
  margin-bottom: 40px;
}

.favorite-item h3 {
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 10px;
}

.favorite-item p {
  font-size: 1rem;
  color: #333;
  margin: 0;
  margin-bottom: 20px;
}

.favorite-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-button {
  font-size: 1rem;
  color: #777;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  transition: color 0.3s ease-in-out;
}

.back-button:hover {
  color: #FF6B6B;
}

/* Adjust styles for mobile screens */
@media (max-width: 768px) {
  .favorite-item {
    margin-bottom: 20px;
  }

  .back-button {
    margin-bottom: 10px;
  }

  .favorites h2 {
    font-size: 1.2rem;
  }

  .favorite-item h3 {
    font-size: 1rem;
  }

  .favorite-item p {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
}


.site-footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.site-footer p {
  margin: 0;
}

/* Adjust styles for mobile screens */
@media (max-width: 768px) {
  .site-footer {
    padding: 10px 0;
  }
}



/* ... Remaining styles ... */

  